# Prepare data

In [1]:
import pandas as pd

In [2]:
data_ref = pd.read_pickle('../data.pkl')
data_ref.head()

,date_block_num,shop_id,item_id,item_cnt_month,city_code,item_category_id,type_code,subtype_code,item_cnt_month_lag_1,item_cnt_month_lag_2,...,date_type_avg_item_cnt_lag_1,date_subtype_avg_item_cnt_lag_1,delta_price_lag,delta_revenue_lag_1,month,days,item_shop_last_sale,item_last_sale,item_shop_first_sale,item_first_sale
4488710,12,2,27,0.0,0,19,5,10,0.0,0.0,...,1.03418,1.075195,-0.282715,1.211914,0,31,1,1,12,12
4488711,12,2,30,0.0,0,40,11,4,0.0,0.0,...,0.27002,0.291504,-0.483398,1.211914,0,31,1,1,11,11
4488712,12,2,31,0.0,0,37,11,1,0.0,0.0,...,0.27002,0.234009,-0.137451,1.211914,0,31,1,1,11,11
4488713,12,2,32,1.0,0,40,11,4,0.0,0.0,...,0.27002,0.291504,-0.407227,1.211914,0,31,-1,1,12,12
4488714,12,2,33,1.0,0,37,11,1,1.0,2.0,...,0.27002,0.234009,-0.225464,1.211914,0,31,1,1,12,12

In [3]:
data_alt = pd.read_pickle('../all_data_3.pkl')
data_alt.head()

,item_id,shop_id,date_block_num,target,item_category_id,type_code,subtype_code,item_name,city_code,total_monthly_sales,...,total_monthly_shop_sales_lag_12,total_monthly_item_sales_lag_12,total_monthly_shop_sales_lag_1,total_monthly_item_sales_lag_1,total_monthly_shop_sales_lag_2,total_monthly_item_sales_lag_2,total_monthly_shop_sales_lag_3,total_monthly_item_sales_lag_3,total_monthly_shop_sales_lag_6,total_monthly_item_sales_lag_6
0,19,0,0,0.0,40,11,4,/ЗОЛОТАЯ КОЛЛЕКЦИЯ м/ф-72,29,0.347176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27,0,0,0.0,19,5,10,"007 Legends [PS3, русская версия]",29,0.347176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28,0,0,0.0,30,8,55,"007 Legends [PС, Jewel, русская версия]",29,0.347176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29,0,0,0.0,23,5,16,"007 Legends [Xbox 360, русская версия]",29,0.347176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,32,0,0,6.0,40,11,4,1+1,29,0.347176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(data_ref.shape)
print(data_alt.shape)

(6639294, 40)
(11128050, 46)

In [5]:
print(len(data_ref.date_block_num.unique()))
print(len(data_alt.date_block_num.unique()))

23
35

In [6]:
data_ref.date_block_num.unique()

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34])

In [7]:
data_alt[data_alt.date_block_num>11].shape

(6639294, 46)

In [22]:
def match(row):
    target_lag_1 = (row['item_cnt_month_lag_1'] - row['target_lag_1'])/row['target_lag_1'] if row['target_lag_1']!=0 else row['item_cnt_month_lag_1']
    target_lag_2 = (row['item_cnt_month_lag_2'] - row['target_lag_2'])/row['target_lag_2'] if row['target_lag_2']!=0 else row['item_cnt_month_lag_2']
    target_lag_3 = (row['item_cnt_month_lag_3'] - row['target_lag_3'])/row['target_lag_3'] if row['target_lag_3']!=0 else row['item_cnt_month_lag_3']
    target_lag_6 = (row['item_cnt_month_lag_6'] - row['target_lag_6'])/row['target_lag_6'] if row['target_lag_6']!=0 else row['item_cnt_month_lag_6']
    target_lag_12= (row['item_cnt_month_lag_12'] -row['target_lag_12'])/row['target_lag_12'] if row['target_lag_12']!=0 else row['item_cnt_month_lag_12']
    total_monthly_sales_lag_1 = (row['date_avg_item_cnt_lag_1'] - row['total_monthly_sales_lag_1'])/row['total_monthly_sales_lag_1'] if row['total_monthly_sales_lag_1']!=0 else row['date_avg_item_cnt_lag_1']
    total_monthly_item_sales_lag_1 = (row['date_item_avg_item_cnt_lag_1'] - row['total_monthly_item_sales_lag_1'])/row['total_monthly_item_sales_lag_1'] if row['total_monthly_item_sales_lag_1']!=0 else row['date_item_avg_item_cnt_lag_1']
    total_monthly_item_sales_lag_2 = (row['date_item_avg_item_cnt_lag_2'] - row['total_monthly_item_sales_lag_2'])/row['total_monthly_item_sales_lag_2'] if row['total_monthly_item_sales_lag_2']!=0 else row['date_item_avg_item_cnt_lag_2']
    total_monthly_item_sales_lag_3 = (row['date_item_avg_item_cnt_lag_3'] - row['total_monthly_item_sales_lag_3'])/row['total_monthly_item_sales_lag_3'] if row['total_monthly_item_sales_lag_3']!=0 else row['date_item_avg_item_cnt_lag_3']
    total_monthly_item_sales_lag_6 = (row['date_item_avg_item_cnt_lag_6'] - row['total_monthly_item_sales_lag_6'])/row['total_monthly_item_sales_lag_6'] if row['total_monthly_item_sales_lag_6']!=0 else row['date_item_avg_item_cnt_lag_6']
    total_monthly_item_sales_lag_12 = (row['date_item_avg_item_cnt_lag_12'] - row['total_monthly_item_sales_lag_12'])/row['total_monthly_item_sales_lag_12'] if row['total_monthly_item_sales_lag_12']!=0 else row['date_item_avg_item_cnt_lag_12']
    total_monthly_shop_sales_lag_1 = (row['date_shop_avg_item_cnt_lag_1'] - row['total_monthly_shop_sales_lag_1'])/row['total_monthly_shop_sales_lag_1'] if row['total_monthly_shop_sales_lag_1']!=0 else row['date_shop_avg_item_cnt_lag_1']
    total_monthly_shop_sales_lag_2 = (row['date_shop_avg_item_cnt_lag_2'] - row['total_monthly_shop_sales_lag_2'])/row['total_monthly_shop_sales_lag_2'] if row['total_monthly_shop_sales_lag_2']!=0 else row['date_shop_avg_item_cnt_lag_2']
    total_monthly_shop_sales_lag_3 = (row['date_shop_avg_item_cnt_lag_3'] - row['total_monthly_shop_sales_lag_3'])/row['total_monthly_shop_sales_lag_3'] if row['total_monthly_shop_sales_lag_3']!=0 else row['date_shop_avg_item_cnt_lag_3']
    total_monthly_shop_sales_lag_6 = (row['date_shop_avg_item_cnt_lag_6'] - row['total_monthly_shop_sales_lag_6'])/row['total_monthly_shop_sales_lag_6'] if row['total_monthly_shop_sales_lag_6']!=0 else row['date_shop_avg_item_cnt_lag_6']
    total_monthly_shop_sales_lag_12 = (row['date_shop_avg_item_cnt_lag_12'] - row['total_monthly_shop_sales_lag_12'])/row['total_monthly_shop_sales_lag_12'] if row['total_monthly_shop_sales_lag_12']!=0 else row['date_shop_avg_item_cnt_lag_12']
    total_monthly_category_sales_lag_1 = (row['date_cat_avg_item_cnt_lag_1'] - row['total_monthly_category_sales_lag_1'])/row['total_monthly_category_sales_lag_1'] if row['total_monthly_category_sales_lag_1']!=0 else row['date_cat_avg_item_cnt_lag_1']
    total_monthly_shop_category_sales_lag_1 = (row['date_shop_cat_avg_item_cnt_lag_1'] - row['total_monthly_shop_category_sales_lag_1'])/row['total_monthly_shop_category_sales_lag_1'] if row['total_monthly_shop_category_sales_lag_1']!=0 else row['date_shop_cat_avg_item_cnt_lag_1']
    total_monthly_shop_supercategory_sales_lag_1 = (row['date_shop_type_avg_item_cnt_lag_1'] - row['total_monthly_shop_supercategory_sales_lag_1'])/row['total_monthly_shop_supercategory_sales_lag_1'] if row['total_monthly_shop_supercategory_sales_lag_1']!=0 else row['date_shop_cat_avg_item_cnt_lag_1']
    total_monthly_shop_subcategory_sales_lag_1 = (row['date_shop_subtype_avg_item_cnt_lag_1'] - row['total_monthly_shop_subcategory_sales_lag_1'])/row['total_monthly_shop_subcategory_sales_lag_1'] if row['total_monthly_shop_subcategory_sales_lag_1']!=0 else row['total_monthly_shop_subcategory_sales_lag_1']
    total_monthly_city_sales_lag_1 = (row['date_city_avg_item_cnt_lag_1'] - row['total_monthly_city_sales_lag_1'])/row['total_monthly_city_sales_lag_1'] if row['total_monthly_city_sales_lag_1']!=0 else row['date_city_avg_item_cnt_lag_1']
    total_monthly_city_item_sales_lag_1 = (row['date_item_city_avg_item_cnt_lag_1'] - row['total_monthly_city_item_sales_lag_1'])/row['total_monthly_city_item_sales_lag_1'] if row['total_monthly_city_item_sales_lag_1']!=0 else row['date_item_city_avg_item_cnt_lag_1']
    total_monthly_supercategory_sales_lag_1 = (row['date_type_avg_item_cnt_lag_1'] - row['total_monthly_supercategory_sales_lag_1'])/row['total_monthly_supercategory_sales_lag_1'] if row['total_monthly_supercategory_sales_lag_1']!=0 else row['date_type_avg_item_cnt_lag_1']
    total_monthly_subcategory_sales_lag_1 = (row['date_subtype_avg_item_cnt_lag_1'] - row['total_monthly_subcategory_sales_lag_1'])/row['total_monthly_subcategory_sales_lag_1'] if row['total_monthly_subcategory_sales_lag_1']!=0 else row['date_subtype_avg_item_cnt_lag_1']

    return \
    target_lag_1 + target_lag_2 + target_lag_3 + target_lag_6 + target_lag_12 + \
        total_monthly_sales_lag_1 + \
        total_monthly_item_sales_lag_1 + total_monthly_item_sales_lag_2 + total_monthly_item_sales_lag_3 + \
        total_monthly_item_sales_lag_6 + total_monthly_item_sales_lag_12 + \
        total_monthly_shop_sales_lag_1 + total_monthly_shop_sales_lag_2 + total_monthly_shop_sales_lag_3 + \
        total_monthly_shop_sales_lag_6 + total_monthly_shop_sales_lag_12 + \
        total_monthly_category_sales_lag_1 + \
        total_monthly_shop_category_sales_lag_1 + \
        total_monthly_shop_supercategory_sales_lag_1 + \
        total_monthly_shop_subcategory_sales_lag_1 + \
        total_monthly_city_sales_lag_1 + \
        total_monthly_city_item_sales_lag_1 + \
        total_monthly_supercategory_sales_lag_1 + \
        total_monthly_subcategory_sales_lag_1
    
#date_block_num: 12    =
#shop_id: 2            =
#item_id: 27           =
#item_cnt_month: 0     =
#city_code: 0          =
#item_category_id: 19  =
#type_code: 5          =
#subtype_code: 10      =

In [10]:
result = pd.merge(data_ref, data_alt, how='inner', on=['date_block_num','shop_id','item_id'])

In [29]:
diff = result.apply(match, axis=1)

In [30]:
pd.set_option('display.max_columns', 100)

In [31]:
row = result.iloc[1,:] #[(result.date_block_num==12)&(result.shop_id==2)&(result.item_id==27)].iloc[0,:]
print( row['date_item_avg_item_cnt_lag_1'] )
print( row['total_monthly_item_sales_lag_1'] )

1.021
1.0217391304347827

In [32]:
data_alt[(data_alt.date_block_num==11)&(data_alt.shop_id==2)&(data_alt.item_id==30)][["total_monthly_item_sales","total_monthly_item_sales_lag_1"]]

         total_monthly_item_sales  total_monthly_item_sales_lag_1
4098955                  1.021739                        1.022222

In [33]:
data_alt[(data_alt.date_block_num==12)&(data_alt.shop_id==2)&(data_alt.item_id==30)][["total_monthly_item_sales","total_monthly_item_sales_lag_1"]]

         total_monthly_item_sales  total_monthly_item_sales_lag_1
4488757                   1.26087                        1.021739

In [34]:
match(row)

0.0001406026047430437

In [35]:
print(diff.shape)
diff[0:100]

(6504796,)

0     0.000411
1     0.000141
2     0.000731
3     0.000080
4     0.000032
        ...
95    0.007812
96   -0.001214
97    0.000323
98    0.000338
99   -0.000089
Length: 100, dtype: float64

In [16]:
result.fillna(0,inplace=True)

In [23]:
%time
diff2 = result[0:10000].apply(match, axis=1)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.87 µs

In [36]:
sum(diff)

52773.168784762755

In [37]:
result[1:2]

,date_block_num,shop_id,item_id,item_cnt_month,city_code_x,item_category_id_x,type_code_x,subtype_code_x,item_cnt_month_lag_1,item_cnt_month_lag_2,item_cnt_month_lag_3,item_cnt_month_lag_6,item_cnt_month_lag_12,date_avg_item_cnt_lag_1,date_item_avg_item_cnt_lag_1,date_item_avg_item_cnt_lag_2,date_item_avg_item_cnt_lag_3,date_item_avg_item_cnt_lag_6,date_item_avg_item_cnt_lag_12,date_shop_avg_item_cnt_lag_1,date_shop_avg_item_cnt_lag_2,date_shop_avg_item_cnt_lag_3,date_shop_avg_item_cnt_lag_6,date_shop_avg_item_cnt_lag_12,date_cat_avg_item_cnt_lag_1,date_shop_cat_avg_item_cnt_lag_1,date_shop_type_avg_item_cnt_lag_1,date_shop_subtype_avg_item_cnt_lag_1,date_city_avg_item_cnt_lag_1,date_item_city_avg_item_cnt_lag_1,date_type_avg_item_cnt_lag_1,date_subtype_avg_item_cnt_lag_1,delta_price_lag,delta_revenue_lag_1,month,days,item_shop_last_sale,item_last_sale,item_shop_first_sale,item_first_sale,target,item_category_id_y,type_code_y,subtype_code_y,item_name,city_code_y,total_monthly_sales,total_monthly_shop_sales,total_monthly_item_sales,total_monthly_category_sales,total_monthly_supercategory_sales,total_monthly_subcategory_sales,total_monthly_shop_category_sales,total_monthly_shop_supercategory_sales,total_monthly_shop_subcategory_sales,total_monthly_city_sales,total_monthly_city_item_sales,item_avg_item_price,date_item_avg_item_price,target_lag_12,target_lag_1,target_lag_2,target_lag_3,target_lag_6,total_monthly_sales_lag_1,total_monthly_category_sales_lag_1,total_monthly_supercategory_sales_lag_1,total_monthly_subcategory_sales_lag_1,total_monthly_shop_category_sales_lag_1,total_monthly_shop_supercategory_sales_lag_1,total_monthly_shop_subcategory_sales_lag_1,total_monthly_city_sales_lag_1,total_monthly_city_item_sales_lag_1,total_monthly_shop_sales_lag_12,total_monthly_item_sales_lag_12,total_monthly_shop_sales_lag_1,total_monthly_item_sales_lag_1,total_monthly_shop_sales_lag_2,total_monthly_item_sales_lag_2,total_monthly_shop_sales_lag_3,total_monthly_item_sales_lag_3,total_monthly_shop_sales_lag_6,total_monthly_item_sales_lag_6
1,12,2,30,0.0,0,40,11,4,0.0,0.0,0.0,0.0,0.0,0.411377,1.021484,1.022461,0.521973,0.891113,0.0,0.148071,0.100647,0.08905,0.096008,0.0,0.291504,0.046234,0.051727,0.046234,0.148071,0.0,0.27002,0.291504,-0.483398,1.211914,0,31,1,1,11,11,0.0,40,11,4,007: КООРДИНАТЫ «СКАЙФОЛЛ»,0,0.311352,0.114289,1.26087,0.257571,0.230563,0.257571,0.041781,0.047428,0.041781,0.114289,0.0,323.75,169.0,0.0,0.0,0.0,0.0,0.0,0.411253,0.291505,0.269904,0.291505,0.046246,0.051719,0.046246,0.1481,0.0,0.0,0.0,0.1481,1.021739,0.10063,1.022222,0.089066,0.521739,0.096014,0.891304